#experience
{
    background-color:grey;
}

#experience .eight.columns
{
    box-sizing:border-box;
    height:250px;
    background-color:red;
    position:relative;
    margin-bottom:50px;
    border-radius:10px;
    
    -webkit-transition:all 0.6s ease;
}

#experience .eight.columns:hover
{
    -webkit-transition:all 0.6s ease;
    -webkit-transform:scale(1.7);
    z-index:5;
}

#experience .eight.columns.first:hover
{
    top:100px !important;
    left:20%;
}

#experience .eight.columns.second:hover
{
    top:100px !important;
    left:-20%;
}

#experience .eight.columns.third:hover
{
    left:20%;
    top:-150px !important;
}

#experience .eight.columns.fourth:hover
{
    left:-20%;
    top:-150px !important;
}

.eight.columns .image
{
    box-sizing:content-box !important;
    position:absolute;
    width:150px;
    height:150px;
    top:0;
    right:0;
    background-color:blue;
    background-image:url("../images/template.jpg");
    background-size:400px 164px;
    border:10px solid white;
    border-radius:10px;
}