

#experience .eight.columns
{
    box-sizing:border-box;
    height:250px;
    background-color:rgb(120,120,120);
    position:relative;
    margin-bottom:50px;
    border-radius:10px;
    opacity:0.6;
    transition: opacity 0.4s; 
    -webkit-transition: opacity 0.4s; 
    -moz-transition: opacity 0.4s;
}




#experience .eight.columns:hover
{
    transition: opacity 0.4s; 
    -webkit-transition: opacity 0.4s; 
    -moz-transition: opacity 0.4s;
    opacity:1;
}

#experience .eight.columns.third:hover
{
/*    left:20%;
    top:-150px !important;*/
}

#experience .eight.columns.fourth:hover
{
/*    left:-20%;
    top:-150px !important;*/
}

.eight.columns .image
{
    box-sizing:content-box !important;
    position:relative;
    width:150px;
    height:150px;
    top:0;
    right:0;
    background-color:blue;
    background-image:url("../images/template.jpg");
    background-size:400px 164px;
    border:10px solid white;
    border-radius:10px;
}

.text h1
{
    font-size:25px;
}