div.content
{
/*    background-color:white;*/
}

div.resume 
{
    position:relative;
    margin:inherit;
    margin:20px;
    height:500px;
    width:1000px;
    left:50%;
    text-align: center;
    color:white;
/*    border:1px solid red;*/
}

div.experience-block
{
    background-color:rgba(255,255,255,0.4);
    padding:30px 30px 30px 50px;
    margin-bottom:10px;
    font-size:18px;
}

div.experience-block p
{
}

div.experience-block h3.year
{
    color:#313131;
    font-size:16px;
    position:absolute;
    left:100px;
}

div.experience-block h1.company
{
    color:rgba(123, 178, 0, 1);
    margin-bottom:7px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); 
}

div.experience-block h1.company, p.title, p.description
{
    text-align:left;
    margin-bottom:7px;
    margin-left:350px;
}

div.experience-block p.title
{
    font-size:12px;
    text-transform:uppercase;
    color:#313131;
}

div.experience-block p.description
{
    font-size:16px;
    line-height:1.04em;
    color:rgba(255,255,255,0.7);
}

