@font-face
{
    font-family:header;
    src: url("../fonts/Plakatbau.ttf");
}

@font-face
{
    font-family:content;
    src: url();
}

body
{
    background-color: black;
    background-image: url('../img/main_bg.jpeg');
    /*makes bg resize with window*/
    /*    background-size: 100%;*/
    background-repeat: no-repeat;
    background-position: top center;
    padding:0px;
    margin:40px;
    /*   font-family: content;*/
}

.container
{
    position:relative;
    text-align:center;
    margin:30px;
    padding:10px;
    min-height:500px;
}


a
{
    text-decoration:none;
}

h1 a, .nav a
{
    position:absolute;
    color:white;
    font-family:header;
}

h1 a:hover, .nav a:hover
{
    position:absolute;
}


h1 a, .nav.lea a, .nav.exp a
{
    top:50%;
}

h1 a
{
    font-size:120px;
    margin-top:-5%;
    text-shadow: 0.01em 0.09em #000;
}

.nav a
{
    border:1px dashed blue;
    padding:30px;
    font-size:60px;
}


.nav.lea a
{
    left:0;
}

.nav.exp a
{
    right:0;
}

.nav.cre a, .nav.ski a
{
    bottom:0;
}

.nav.cre a
{
    left:25%;
}

.nav.ski a 
{
    left:75%;
}


/* Navigation Blur */

.nav a,
.nav a:visited {
    color: rgba(255,255,255,0.01);
    text-shadow: 0 1px 8px rgba(255,255,255,.7), 0 0 2px rgba(51,51,51,0.2);
    transition: color linear 0.2s, text-shadow linear 0.2s; 
    -webkit-transition: color linear 0.4s, text-shadow linear 0.4s; 
    }




/* text-shadow fades to very transparent, font color to nearly opaque
no extreme values used to improve smoothness of effect */

.nav a:hover,
.nav a:active,
.nav a:focus,
.nav a.activeLink {
    color: white;
    text-shadow: 0 0 8px rgba(0,0,0,.05) }

